.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  padding: 10px 20px;
  background: white;

  .logo {
    font-weight: 900;
    font-size: 23px;
    font-family: "Raleway", sans-serif;
    margin-left: 33px;
  }

  .logo-span {
    color: rgb(72, 180, 153);
    font-weight: 600;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
  }
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 600;
  }
  .menuBar {
    display: none;
  }
  .menu li {
    display: inline;
    margin-right: 30px;
  }

  .menu li a {
    text-decoration: none;
  }
  .menu li a:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: rgb(24, 134, 74);
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
  }

  //   a::after {
  //     visibility: hidden;
  //     transform: scaleX(0);
  //     transition: 0.3s all ease;
  //   }
  //   a:hover::after {
  //     visibility: visible;
  //     transform: scaleX(0);
  //     transition: all 0.3s ease-in-ou;
  //   }
}

@media (max-width: 950px) {
  .menu {
    display: none;
  }
  .navigation {
    // display: flex;

    // justify-content: space-around;
    // align-items: center;
    // font-family: "Open Sans", sans-serif;
    background: black;
    color: white;
  }
  .menuBar {
    display: block;
    float: right;
    color: white;
  }
}
